.halfComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  color: $dark;

  @include breakpoint($tab) {
    display: block;
    margin-bottom: 70px;
  }
}
.imageWrapper {
  position: relative;
  width: 385px;
  height: 385px;

  @include breakpoint($desk) {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  @include breakpoint($tab) {
    text-align: center;
  }

  img {
    transition: all 5s ease;
  }
}
