a:hover,
button:hover {
    text-decoration: none !important;
}

a:focus-visible,
button:focus-visible {
    box-shadow: none !important;
}

.chakra-text strong {
    font-weight: 800;
}

.product-filter-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.product-filter-wrapper .product-filter-row .chakra-checkbox__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
