a:hover {
    text-decoration: none !important;
}

#mainMenu a:hover .underline {
    width: 100%;
    opacity: 1;
}
#mainMenu a.active .underline {
    width: 100%;
    opacity: 1;
}
#mainMenu a.active {
    font-weight: bold;
}
