/* Slick */
.slick-dots {
    left: 0;
    right: 0;
}
.slick-dots li {
    width: 10px !important;
}
.slick-dots li button:before {
    font-size: 10px !important;
    color: #c4c4c4 !important;
    opacity: 1 !important;
}
.slick-dots li.slick-active button:before {
    color: #ed1c24 !important;
}
.slick-prev,
.slick-next {
    z-index: 1;
    background-image: url(../public/assets/arrowCarousel.svg) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}
.slick-prev:before,
.slick-next:before {
    display: none;
}
.slick-prev {
    transform: translateY(-50%) rotate(180deg) !important;
}

/* Hero Banner Slider */
.hero-banner-slider .slick-prev {
    left: 10px;
    filter: invert(1);
}

.hero-banner-slider .slick-next {
    right: 10px;
    filter: invert(1);
}
.hero-banner-slider .slick-dots {
    bottom: 10px;
    z-index: 1;
}

/* Front Page Tiles Slider */
.tiles-slider .slick-prev {
    filter: invert(1);
    left: -10px;
}
.tiles-slider .slick-next {
    filter: invert(1);
    right: -10px;
}
.tiles-slider .slick-list {
    overflow: visible;
}
.tiles-slider .slick-slide {
    transition: all 0.3s ease;
}
.tiles-slider .slick-slide:not(.slick-active) {
    opacity: 0.5;
}

/* Front Page Category Tiles Slider */
.catetory-tiles-slider .slick-prev {
    filter: invert(1);
    left: -10px;
}
.catetory-tiles-slider .slick-next {
    filter: invert(1);
    right: -10px;
}

/* Front Page Image with Products Slider */
.image-products-slider {
    padding: 0 20px;
}
.image-products-slider .slick-prev {
    left: 0;
}
.image-products-slider .slick-next {
    right: 0;
}

/* Front Page Background Image with Gifts Slider */
.gifts-slider .slick-prev {
    filter: invert(1);
    left: -10px;
}

.gifts-slider .slick-next {
    filter: invert(1);
    right: -10px;
}
