#chakra-modal-drawerMenu {
    top: 92.5px !important;
}
.chakra-modal-drawerMenuFilter {
    top: 96px !important;
}

.chakra-modal__overlay {
    position: relative !important;
}

#language {
    padding: 0px;
    height: 16px;
}

/* .slick-prev {
    left: -16px !important
} */

.slick-prev::before  {
   display: none; 
}
.slick-next::before  {
   display: none; 
}

#home-slider-prevarrow {
    bottom: 84px !important;
    left: 120px;
    top: initial;
}
#home-slider-nextarrow {
    bottom: 84px !important;
    top: initial;
    right: 120px;
}

#product-carousel-nextarrow {
    top: -32px;
    left:97%
}
#product-carousel-prevarrow {
    top: -32px;
    left: 93%;
}

@media screen and (max-width: 1300px){
    #product-carousel-nextarrow {
        top: -32px;
        left:96%
    }
    #product-carousel-prevarrow {
        top: -32px;
        left: 93%;
    }
}
@media screen and (max-width: 1000px){
    #product-carousel-nextarrow {
        top: -32px;
        left:96%
    }
    #product-carousel-prevarrow {
        top: -32px;
        left: 92%;
    }
}
@media screen and (max-width: 780px){
    #product-carousel-nextarrow {
        top: -32px;
        left:96%
    }
    #product-carousel-prevarrow {
        top: -32px;
        left: 91%;
    }
}


@media screen and (max-width: 480px) {
    #home-slider-prevarrow {
        bottom: 84px !important;
        left: 20px;
        top: initial;
    }
    #home-slider-nextarrow {
        bottom: 84px !important;
        top: initial;
        right: 20px;
    }
}

