/* Slick */
.slick-dots {
    left: 0;
    right: 0;
}
.slick-dots li {
    width: 10px !important;
}
.slick-dots li button:before {
    font-size: 10px !important;
    color: #c4c4c4 !important;
    opacity: 1 !important;
}
.slick-dots li.slick-active button:before {
    color: #ed1c24 !important;
}
.slick-prev,
.slick-next {
    z-index: 1;
    background-image: url(../public/assets/arrowCarousel.svg) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}
.slick-prev:before,
.slick-next:before {
    display: none;
}
.slick-prev {
    transform: translateY(-50%) rotate(180deg) !important;
}
.slick-slider .slick-track {
    display: flex;
}
.slick-slider .slick-slide {
    height: auto;
}
.slick-slider .slick-slide > div {
    height: 100%;
}

/* Hero Banner Slider */
.hero-banner-slider .slick-prev {
    left: 10px;
    filter: invert(1);
}

.hero-banner-slider .slick-next {
    right: 10px;
    filter: invert(1);
}
.hero-banner-slider .slick-dots {
    bottom: 10px;
    z-index: 1;
}

/* Front Page Tiles Slider */
.tiles-slider .slick-prev {
    filter: invert(1);
    left: -10px;
}
.tiles-slider .slick-next {
    filter: invert(1);
    right: -10px;
}
.tiles-slider .slick-list {
    overflow: visible;
}
.tiles-slider .slick-slide {
    transition: all 0.3s ease;
}
.tiles-slider .slick-slide:not(.slick-active) {
    opacity: 0.5;
}

/* Front Page Category Tiles Slider */
.catetory-tiles-slider .slick-prev {
    filter: invert(1);
    left: -10px;
}
.catetory-tiles-slider .slick-next {
    filter: invert(1);
    right: -10px;
}

/* Front Page Image with Products Slider */
.image-products-slider {
    padding: 0 20px;
}
.image-products-slider .slick-prev {
    left: 0;
}
.image-products-slider .slick-next {
    right: 0;
}

/* Front Page Background Image with Gifts Slider */
.gifts-slider .slick-prev {
    filter: invert(1);
    left: -10px;
}

.gifts-slider .slick-next {
    filter: invert(1);
    right: -10px;
}

/* Product Images Slider */
.image-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-gallery-content:not(.bottom) {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}
.image-gallery-content.fullscreen {
    padding: 50px;
}
.image-gallery-content:not(.fullscreen) .image-gallery-left-nav {
    left: -40px !important;
}
.image-gallery-content:not(.fullscreen) .image-gallery-right-nav {
    right: -40px !important;
}

.image-gallery-swipe {
    max-width: 1000px;
    margin: 0 auto;
}
.image-gallery-thumbnails .image-gallery-thumbnails-container {
    text-align: left !important;
}
.image-gallery-thumbnail {
    border: 2px solid transparent !important;
    margin-bottom: 3px;
    transition: all 0.3s ease;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
    border: 2px solid #000000 !important;
}
.image-gallery-thumbnail:hover {
    border: 2px solid #000000 !important;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
    width: 30px !important;
    height: 40px !important;
}

.image-gallery-content:not(.fullscreen) .image-gallery-left-nav,
.image-gallery-content:not(.fullscreen) .image-gallery-right-nav {
    display: none;
}

.image-gallery-slide .image-gallery-image {
    width: auto !important;
    object-fit: unset !important;
    display: block;
    margin: 0 auto;
}
.thumbnails-swipe-horizontal {
    max-width: 250px;
}

.thumbnails-swipe-vertical {
    max-height: 300px;
    overflow: hidden;
}
.fullscreen .thumbnails-swipe-vertical {
    max-height: 100%;
}

/* product listing color carousel */
.color-slider {
    padding: 0 15px;
}
.color-slider .slick-slide > div {
    height: 22px;
}
.color-slider .slick-prev {
    left: 0;
    width: 10px;
    height: 12px;
}
.color-slider .slick-next {
    right: 0;
    width: 10px;
    height: 12px;
}

/* product listing filters */
.product-filter-row .chakra-checkbox__control {
    border-radius: 50%;
}
.product-filter-row .chakra-checkbox__control[data-checked] {
    background-color: #000000 !important;
    border: #000000;
}
.product-filter-row .chakra-checkbox__control div {
    display: none !important;
}
